<form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="container">

        <div class="title">
            <span>Register</span>
        </div>

        <div class="username">
            <label for="username">Username</label>
            <div>
                <img src="../../assets/images/user-icon.png">
                <input type="text" placeholder="Enter Username" formControlName="username">
            </div>

            <div class="errors" *ngIf="username?.touched && username?.invalid">
                <span *ngIf="username?.errors?.['required']">Username is required.</span>
                <span *ngIf="username?.errors?.['minlength']">Username should have at least {{username?.errors?.['minlength'].requiredLength}} Characters.</span>
            </div>
        </div>

        <div class="email">
            <label for="email">Email</label>
            <div>
                <img src="../../assets/images/email-icon.png">
                <input type="email" placeholder="Enter Email" formControlName="email">
            </div>
            <div class="errors" *ngIf="email?.touched && email?.invalid">
                <span *ngIf="email?.errors?.['required']">Email is required.</span>
                <span *ngIf="email?.errors?.['email']">Please enter email.</span>
            </div>
        </div>

        <div class="password">
            <label for="password">Password</label>
            <div>
                <img src="../../assets/images/password-icon.png">
                <input type="password" placeholder="Enter Password" formControlName="password">
            </div>
            <div class="errors" *ngIf="password?.touched && password?.invalid">
                <span *ngIf="password?.errors?.['required']">Password is required.</span>
                <span *ngIf="password?.errors?.['minlength']">Password should have at least {{password?.errors?.['minlength'].requiredLength}} Characters.</span>
            </div>
        </div>

        <div class="confirm-password">
            <label for="repeatPassword">Confirm Password</label>
            <div>
                <img src="../../assets/images/password-icon.png">
                <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
            </div>
            <div class="errors" *ngIf="confirmPassword?.touched && confirmPassword?.invalid || registerForm.errors">
                <span *ngIf="confirmPassword?.errors?.['required']">Password is required.</span>
                <span *ngIf="confirmPassword?.errors?.['minlength']">Password should have at least {{confirmPassword?.errors?.['minlength'].requiredLength}} Characters.</span>
                <span *ngIf="registerForm?.errors?.['checkMatchPassword']">Password is not matched.</span>
            </div>
        </div>

        <div class="submit-button-and-login-link">
            <button type="submit" [disabled]="!registerForm.valid" [class.disabled]="!registerForm.valid">Register</button>
            <a routerLink="/login">Log in</a>
        </div>

    </div>
</form>



